# Ignore logs and plugins folders
**/logs/* 
**/plugins/*

# Ignore virtual environment and compiled Python files
**/venv
**/.venv
**/__pycache__/
**/*.py[cod]
**/*.pyo
**/*.pyd

# Ignore data warehouse data files
**/DataWarehouse/data/*
**/Grafana/grafana_storage/*

# IMDB csvs and curler logs
**/IMDBCurler/data/*
**/IMDBCurler/logs/*

# For Mac users
**/.DS_Store

# Ignore data warehouse data files
**/DataWarehouse/data/*
**/Grafana/grafana_storage/*

**/data/*
**/output/*
**/imdb/*
