name: insarama

include:
  # Data Piepeline Orchestrator
  - path: Airflow/compose.airflow.yaml
    project_directory: Airflow/
    env_file: Airflow/.env
  # Data Warehouse
  - path: DataWarehouse/compose.datawarehouse.yaml
    project_directory: DataWarehouse/
    env_file: DataWarehouse/.env
  # Dashboards
  - path: Grafana/compose.grafana.yaml
    project_directory: Grafana/
    env_file: Grafana/.env

volumes: # Volume containing source data for ingestion : Scrapped metacritic data and IMDB data
  INSARAMA_SOURCE_DATA:
    name: insarama_source_data
    driver: local
    driver_opts:
      device: Data/source_data
      o: bind

  INSARAMA_REVIEWS_DATAWAREHOUSE_DATA: 
    name: insarama_reviews_datawarehouse_data
    driver: local
    driver_opts:
      device: Data/datawarehouse/reviews
      o: bind

  INSARAMA_MEDIA_DATAWAREHOUSE_DATA: 
    name: insarama_media_datawarehouse_data
    driver: local
    driver_opts:
      device: Data/datawarehouse/media_graph
      o: bind
    
networks:
  INSARAMA_NET:
    name: insarama_net
    driver: bridge  # simple isolation for usecase
    external: false # enables docker compose down to remove named net