name: insarama

include:
  # Data Piepeline Orchestrator
  - path: ${PWD}/Airflow/compose.airflow.yaml
    project_directory: ${PWD}/Airflow/
    env_file: 
      - ${PWD}/Airflow/.env
      - ${PWD}/DataWarehouse/.env
  # Data Warehouse
  - path: ${PWD}/DataWarehouse/compose.datawarehouse.yaml
    project_directory: ${PWD}/DataWarehouse/
    env_file: ${PWD}/DataWarehouse/.env
  # Dashboards
  - path: ${PWD}/Grafana/compose.grafana.yaml
    project_directory: ${PWD}/Grafana/
    env_file: 
      - ${PWD}/Grafana/.env
      - ${PWD}/DataWarehouse/.env

volumes: # Volume containing source data for ingestion : Scrapped metacritic data and IMDB data
  INSARAMA_SOURCE_DATA:
    name: insarama_source_data
    driver: local
    driver_opts:
      device: ${PWD}/Airflow/data
      type: none
      o: bind
  INSARAMA_POSTGRES_DW_DATA:
    name: insarama_reviews_datawarehouse_data
    driver: local
    driver_opts:
      device: ${PWD}/DataWarehouse/data/postgres
      type: none
      o: bind
  INSARAMA_NEO_DW_DATA:
    name: insarama_reviews_datawarehouse_data
    driver: local
    driver_opts:
      device: ${PWD}/DataWarehouse/data/neo4j
      type: none
      o: bind
  INSARAMA_DOCKERETL_IMAGES:
    name: insarama_dockerETL_images
    driver: local
    driver_opts:
      type: none
      device: ${PWD}/DockerETL_Images
      o: bind
networks:
  INSARAMA_NET:
    name: insarama_net
    driver: bridge # simple isolation for usecase
    external: false # enables docker compose down to remove named net
