name: insarama

include:
  # Data Piepeline Orchestrator
  - path: DockerETL_Images/Airflow/compose.airflow.yaml
    project_directory: DockerETL_Images/Airflow/
    env_file: DockerETL_Images/Airflow/.env
  # Data Warehouse
  - path: DockerETL_Images/DataWarehouse/compose.datawarehouse.yaml
    project_directory: DockerETL_Images/DataWarehouse/
    env_file: DockerETL_Images/DataWarehouse/.env
  # Dashboards
  - path: DockerETL_Images/Grafana/compose.grafana.yaml
    project_directory: DockerETL_Images/Grafana/
    env_file: DockerETL_Images/Grafana/.env

volumes: # Volume containing source data for ingestion : Scrapped metacritic data and IMDB data
  INSARAMA_SOURCE_DATA:
    name: insarama_source_data
    driver: local
    driver_opts:
      device: Data/source_data
      o: bind
    
networks:
  INSARAMA_NET:
    name: insarama_net
    driver: bridge  # simple isolation for usecase
    external: false # enables docker compose down to remove named net