services:
  grafana: # MUST MATCH DW_POSTGRES_HOST in .env
    image: grafana/grafana
    container_name: ${GF_CONTAINER_NAME}
    environment:
      - GF_SECURITY_ADMIN_USER=${GF_USER}
      - GF_SECURITY_ADMIN_PASSWORD=${GF_PASSWORD}
      - GF_PATHS_PROVISIONING=/etc/grafana/provisioning
      # Using Postgres as Grafana DB backend
      # GF_DATABASE_TYPE: postgres
      # GF_DATABASE_HOST: ${DW_POSTGRES_HOST}:5432
      # GF_DATABASE_NAME: ${GF_POSTGRES_DB}
      # GF_DATABASE_USER: ${DW_POSTGRES_USER}
      # GF_DATABASE_PASSWORD: ${DW_POSTGRES_PASSWORD}
      # GF_DATABASE_SSL_MODE: disable
    # depends_on:
    #   - insm_postgres_data_warehouse # postgres data warehouse must exists before launch to store dashboards there
    volumes:
      #- ./grafana_storage:/var/lib/grafana    # We currently want it stateless
      - ./configurations/dashboard_providers:/etc/grafana/provisioning/dashboards # Configuring all dashboard providers via yaml files
      - ./configurations/datasources:/etc/grafana/provisioning/datasources # Configuring all datasources via yaml files
      - ./dashboards:/etc/dashboards # Storing json dashboard definitions here to be picked up by the dashboard providers
    ports:
      - "${GF_COM_PORT}:3000"
    restart: unless-stopped
    networks:
      - INSARAMA_NET

