services:
  grafana: # MUST MATCH DW_POSTGRES_HOST in .env
    image: grafana/grafana
    container_name: ${GF_CONTAINER_NAME}
    environment:
      - GF_SECURITY_ADMIN_USER=${GF_USER}
      - GF_SECURITY_ADMIN_PASSWORD=${GF_PASSWORD}
      # Using Postgres as Grafana DB backend
      # GF_DATABASE_TYPE: postgres
      # GF_DATABASE_HOST: ${DW_POSTGRES_HOST}:5432
      # GF_DATABASE_NAME: ${GF_POSTGRES_DB}
      # GF_DATABASE_USER: ${DW_POSTGRES_USER}
      # GF_DATABASE_PASSWORD: ${DW_POSTGRES_PASSWORD}
      # GF_DATABASE_SSL_MODE: disable
    # depends_on:
    #   - insm_postgres_data_warehouse # postgres data warehouse must exists before launch to store dashboards there
    volumes:
      - ./grafana_storage:/var/lib/grafana
    ports:
      - "${GF_COM_PORT}:3000"
    restart: unless-stopped
    networks:
      - INSARAMA_NET

volumes:
  grafana_storage: {}

